<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <mat-card class="filter-card">
    <mat-card-header>
      <mat-card-title> Alert Log List</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <!-- <mat-form-field class="full-width">
        <input matInput placeholder="page Number" formControlName="pageNumber">
      </mat-form-field> -->

      <!--  <mat-form-field class="full-width">
        <input matInput placeholder="page Size" formControlName="pageSize">
        <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
      </mat-form-field> -->

      <mat-form-field class="full-width">
        <input matInput placeholder="alerts" formControlName="alerts">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="prm1" formControlName="prm1">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="prm2" formControlName="prm2">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="prm3" formControlName="prm3">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Type" formControlName="alertType">
          <mat-option *ngFor="let aType of alertTypeList" [value]="aType.value">
            {{ aType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!-- <mat-form-field>
        <input type="text" placeholder="code" matInput formControlName="alerts" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let alert of alertList" [value]="alert.alertId">
            {{alert.alertId}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> -->


      <mat-form-field>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let item of items" [selectable]="selectable" [removable]="removable"
            (removed)="remove(item)">
            {{item}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input #itemInput type="text" placeholder="Select a book" matInput formControlName="alerts"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selected($event)">
          <mat-option *ngFor="let alert of filteredAlertList$ | async" [value]="alert.alertId">
            {{alert.alertId}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>Moment.js datepicker</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>From Data</mat-label>
        <input matInput [matDatepicker]="fromDateDp" [formControl]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="fromDateDp"></mat-datepicker-toggle>
        <mat-datepicker touchUi #fromDateDp disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>To Data</mat-label>
        <input matInput [matDatepicker]="toDateDp" [formControl]="toDate">
        <mat-datepicker-toggle matSuffix [for]="toDateDp"></mat-datepicker-toggle>
        <mat-datepicker touchUi #toDateDp disabled="false"></mat-datepicker>
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>