<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <mat-card class="filter-card" style="margin: 10px;">
    <mat-card-header>
      <mat-card-title>Set Log Filters</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="17px">
        <!------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------Select Alerts code------------------------------------------------------>
        <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 2 calc(50% - 17px)"
          fxFlex.gt-md="0 1 calc(40% - 17px)" appearance="outline">
          <mat-label>Alerts code</mat-label>
          <mat-select formControlName="alerts" [(value)]="alertsData" multiple>
            <mat-option *ngFor="let alert of alertList" [value]="alert.alertId">
              {{alert.alertId}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------Select Alerts Name------------------------------------------------------>
        <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 2 calc(50% - 17px)"
          fxFlex.gt-md="0 1 calc(40% - 17px)" appearance="outline">
          <mat-label>Alerts Name</mat-label>
          <mat-select formControlName="alerts" [(value)]="alertsData" multiple>
            <mat-option *ngFor="let alert of alertList" [value]="alert.alertId">
              {{alert.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!---------------------------------------------------------------------------------------------------------->
      <!-------------------------------------expansion-panel------------------------------------------------------>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center;">
              Advanced Search
            </mat-panel-title>
            <mat-panel-description dir="rtl">

              <!-- <button mat-mini-fab color="primary" type="button">
                <mat-icon>search</mat-icon>
              </button> -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="17px">
            <!------------------------------------------------------------------------------------------------------------->
            <!-------------------------------------From Date------------------------------------------------------>
            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>From Data</mat-label>
              <input matInput [matDatepicker]="fromDateDp" [formControl]="fromDate">
              <mat-datepicker-toggle matSuffix [for]="fromDateDp" dir="rtl"></mat-datepicker-toggle>
              <mat-datepicker touchUi #fromDateDp disabled="false" dir="rtl"></mat-datepicker>
            </mat-form-field>
            <!------------------------------------------------------------------------------------------------------------->
            <!-------------------------------------To Data------------------------------------------------------>
            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>To Data</mat-label>
              <input matInput [matDatepicker]="toDateDp" [formControl]="toDate">
              <mat-datepicker-toggle matSuffix [for]="toDateDp" dir="rtl"></mat-datepicker-toggle>
              <mat-datepicker touchUi #toDateDp disabled="false" dir="rtl"></mat-datepicker>
            </mat-form-field>
            <!------------------------------------------------------------------------------------------------------------->

            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>Parameter 1</mat-label>
              <input matInput placeholder="prm1" formControlName="prm1">
            </mat-form-field>

            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>Parameter 2</mat-label>
              <input matInput placeholder="prm2" formControlName="prm2">
            </mat-form-field>

            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>Parameter 3</mat-label>
              <input matInput placeholder="prm3" formControlName="prm3">
            </mat-form-field>
            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>Type</mat-label>
              <mat-select placeholder="Type" formControlName="alertType">
                <mat-option *ngFor="let aType of alertTypeList" [value]="aType.value">
                  {{ aType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex.sm="0 1 calc(50% - 17px)" fxFlex.md="0 1 calc(33.33% - 17px)"
              fxFlex.gt-md="0 1 calc(25% - 17px)" appearance="outline">
              <mat-label>Date Period</mat-label>
              <mat-select placeholder="Date Period" formControlName="datePeriod">
                <mat-option *ngFor="let period of datePeriods" [value]="period.value">
                  {{ period.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Search</button>
      <button mat-raised-button color="accent" type="button" (click)="resetForm()">Clear</button>
    </mat-card-actions>
  </mat-card>
</form>