<!-- <mat-card id='tableResult' style="margin: 10px;">
  <mat-card-header>
    <mat-card-title>Alert Log List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="alertLogList" class="table-container">
      <ng-container matColumnDef="alertId">
        <th mat-header-cell *matHeaderCellDef> Alert Id </th>
        <td mat-cell *matCellDef="let element"> {{element.alertId}} </td>
      </ng-container>
      <ng-container matColumnDef="logText">
        <th mat-header-cell *matHeaderCellDef fxHide.lt-sm>Log Text</th>
        <td mat-cell *matCellDef="let element" fxHide.lt-sm> {{element.logText}} </td>
      </ng-container>
      <ng-container matColumnDef="logDate">
        <th mat-header-cell *matHeaderCellDef>Log Date</th>
        <td mat-cell *matCellDef="let element"> {{element.logDate}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef  fxHide.lt-md>Title</th>
        <td mat-cell *matCellDef="let element" fxHide.lt-md> {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="operation">
        <th mat-header-cell *matHeaderCellDef fxHide.gt-sm> </th>
        <td mat-cell *matCellDef="let element" fxHide.gt-sm>
          <button mat-mini-fab color="primary" type="button" (click)="showDetails(element)">
            <mat-icon>search</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator #paginator [pageIndex]="0" [pageSizeOptions]="[10,20,30,40,50]" [length]="alertLogList?.length"
      (page)="getLogList.emit($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card> -->




<mat-card id='tableResult' style="margin: 10px;">
  <mat-card-header>
    <mat-card-title>Alert Log List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="alertLogList.alertLogItems" class="table-container">

      <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">

        <div [ngSwitch]="column.columnDef">
          <ng-container *ngSwitchCase="'operation'">
            <th mat-header-cell fxHide.gt-sm *matHeaderCellDef></th>
            <td mat-cell fxHide.gt-sm *matCellDef="let element">
              <button mat-mini-fab color="primary" type="button" (click)="showDetails(element)">
                <mat-icon>search</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container *ngSwitchCase="'logText'">
            <th mat-header-cell *matHeaderCellDef fxHide.lt-sm>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element" fxHide.lt-sm>{{column.cell(element)}}</td>
          </ng-container>


          <ng-container *ngSwitchCase="'title'">
            <th mat-header-cell *matHeaderCellDef fxHide.lt-md>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element" fxHide.lt-md>{{column.cell(element)}}</td>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
            <td mat-cell *matCellDef="let element">{{column.cell(element)}}</td>
          </ng-container>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>

    </table>

    <mat-paginator #paginator [pageIndex]="alertLogList.pageNumber" [pageSizeOptions]="[10,20,30,40,50]"
      [length]="alertLogList?.total" (page)="getLogList.emit($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>